*{
    box-sizing: border-box;
    margin:0%;
    padding:0%;
    text-align: center;
    font-family: 'Roborto', sans-serif;
}
body{
    background: rgba(23, 38, 76, 0.9);

}
form{
    width: 100%;
    border-radius: 15px;
    max-width: 450px;
    height: fit-content;
    padding: 45px;
    margin:150px 550px;
    background-color: rgb(23 38 76 );
      filter: drop-shadow(16px 16px 12px black);

}
label{
    color: #aaa;
    font-size: 18px
}
h3{
    font-family: 'Roborto', sans-serif; 
    color: #ffffff;
    text-align:center;
}
.label{
    background-color: #4a525e;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bolder;

}
#smt{
    background-color: rgba(0, 7, 25, 0.9);
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: bolder;
    width:100px
}
#smt:hover{
    color: #202125;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    cursor:pointer;
    width:100px
}
.bx{
    color: white;
    background-color:#202125;
    font-weight: bolder;
} 
@media (max-width: 1250px) {
body{
    margin:auto;
    box-sizing: border-box;
}
form{
    border: solid #4a525e;
    background-color:#4a525e;
    color: rgb(255, 255, 255);
    border-radius: 5px;

}
.label{
    background-color: #4a525e;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    /* font-weight: bolder; */

}
#smt{
    background-color: #202125;
    color: white;
    /* padding: 5px; */
    border-radius: 5px;
    /* font-weight: bolder;
    width:100px; */
}
#smt:hover{
    color: #202125;
    background-color: white;
    /* padding: 5px; */
    border-radius: 5px;
    /* font-weight: bolder; */
    cursor:pointer;
    /* width:100px */
}
.bx{
    color: white;
    background-color:#202125;
} 
}
a{
    text-decoration: none;
    color: #202125;
}
a:hover{
    color: #a8aab3;
}
#rt{
    text-align: right;
}

