*{
    margin: auto;
}
#lg {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(242, 243, 245);
}
.nv{
    margin-right: 5px;
    padding: 20px;
    text-align: right;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.nv a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: bolder;
    padding: 8px;
    text-decoration: none;
    color: rgb(242, 243, 245);
}
.nv a:hover{
    color: rgb(92, 114, 144) ;
}
#top{
    display:flex;
    justify-content: space-evenly;
}
#btn{
  background-color:rgb(194, 203, 217) ;
  color:rgb(0, 0, 0) ;
  border: solid rgb(242, 243, 245) ;
  padding: 5px;
  border-radius: 3px;
}
#btn:hover{
  background-color:rgb(40 38 58);
  border: solid rgb(40 38 58);
  color:white;
 }  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size:initial;
    border: none;
    color: rgb(242, 243, 245); 
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #abt{
    text-align: center;
    margin:150px 0;
    font-size: 25px;
  }
  .header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(43, 44, 50, 0.7),rgba(43, 44, 50, 0.7)) ,url(https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg);
    background-size: cover;
    background-position: cover;
    position: relative;
  }
  h3{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
  }
  p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: smaller;
  }
  .socialbtns, .socialbtns ul, .socialbtns li {
    margin:0px;
    padding: 5px;
  }
  
  .socialbtns li {
      list-style: none outside none;
      display: inline-block;
  }
  
  .socialbtns .fa {
      width: 40px;
      height: 28px;
      color:  #202125;
      background-color: #FFF;
      border: 1px solid #202125;
      padding-top: 12px;
      border-radius: 22px;
  }
  .socialbtns .fa:hover {
      color: #FFF;
      background-color:  #202125;
      border: 1px solid  #202125;
  }
  .socialbtns li a{
    text-decoration: none;
  }
  #footer{
      background-color: #202125;
      margin: 0px;
      margin-bottom: 0px;
      padding: 0px;
  }
#dwn{
    text-decoration: none;
    color: rgb(255,255,255);
    font-family: 'Roborto',sans-serif;

}
.contacts{
    padding: 5px;
    text-align: center;}
.ending{
    text-align: center;
}
