body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  rgb(30 26 52);
}

.container {
    width: 600px;
    height: 550px;
    margin: 80px 350px;
    padding: 38px;
    background-color: rgb(86, 81, 143);
    color: white;
    border-radius: 10px;
    box-shadow: 5 5 20px rgba(107, 106, 184, 0.8);
}

  #smt{
    color: white;
    background-color:  rgb(40, 38, 63);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  #smt:hover{
    color: rgb(40, 38, 63);
    background-color: white;
  }
  .submit{
    display: flex;
    justify-content: center;
  }
  .lvl{
    padding: 10px;
    border-radius: 8px;
  }